.container{margin:0 auto;max-width:1280px}.container,.container-fluid{padding:16px;width:100%}.container--safe{padding-left:max(16px,env(safe-area-inset-left));padding-right:max(16px,env(safe-area-inset-right))}.row{display:flex;flex-wrap:wrap}.col{flex-basis:0;flex-grow:1;max-width:100%}.col-1{flex-basis:8.3333333333%;max-width:8.3333333333%}.col-2{flex-basis:16.6666666667%;max-width:16.6666666667%}.col-3{flex-basis:25%;max-width:25%}.col-4{flex-basis:33.3333333333%;max-width:33.3333333333%}.col-5{flex-basis:41.6666666667%;max-width:41.6666666667%}.col-6{flex-basis:50%;max-width:50%}.col-7{flex-basis:58.3333333333%;max-width:58.3333333333%}.col-8{flex-basis:66.6666666667%;max-width:66.6666666667%}.col-9{flex-basis:75%;max-width:75%}.col-10{flex-basis:83.3333333333%;max-width:83.3333333333%}.col-11{flex-basis:91.6666666667%;max-width:91.6666666667%}.col-12{flex-basis:100%;max-width:100%}@media (min-width:320px){.col-xxs{flex-basis:0;flex-grow:1;max-width:100%}.col-xxs-1{flex-basis:8.3333333333%;max-width:8.3333333333%}.col-xxs-2{flex-basis:16.6666666667%;max-width:16.6666666667%}.col-xxs-3{flex-basis:25%;max-width:25%}.col-xxs-4{flex-basis:33.3333333333%;max-width:33.3333333333%}.col-xxs-5{flex-basis:41.6666666667%;max-width:41.6666666667%}.col-xxs-6{flex-basis:50%;max-width:50%}.col-xxs-7{flex-basis:58.3333333333%;max-width:58.3333333333%}.col-xxs-8{flex-basis:66.6666666667%;max-width:66.6666666667%}.col-xxs-9{flex-basis:75%;max-width:75%}.col-xxs-10{flex-basis:83.3333333333%;max-width:83.3333333333%}.col-xxs-11{flex-basis:91.6666666667%;max-width:91.6666666667%}.col-xxs-12{flex-basis:100%;max-width:100%}}@media (min-width:375px){.col-xs{flex-basis:0;flex-grow:1;max-width:100%}.col-xs-1{flex-basis:8.3333333333%;max-width:8.3333333333%}.col-xs-2{flex-basis:16.6666666667%;max-width:16.6666666667%}.col-xs-3{flex-basis:25%;max-width:25%}.col-xs-4{flex-basis:33.3333333333%;max-width:33.3333333333%}.col-xs-5{flex-basis:41.6666666667%;max-width:41.6666666667%}.col-xs-6{flex-basis:50%;max-width:50%}.col-xs-7{flex-basis:58.3333333333%;max-width:58.3333333333%}.col-xs-8{flex-basis:66.6666666667%;max-width:66.6666666667%}.col-xs-9{flex-basis:75%;max-width:75%}.col-xs-10{flex-basis:83.3333333333%;max-width:83.3333333333%}.col-xs-11{flex-basis:91.6666666667%;max-width:91.6666666667%}.col-xs-12{flex-basis:100%;max-width:100%}}@media (min-width:568px){.col-xxsl{flex-basis:0;flex-grow:1;max-width:100%}.col-xxsl-1{flex-basis:8.3333333333%;max-width:8.3333333333%}.col-xxsl-2{flex-basis:16.6666666667%;max-width:16.6666666667%}.col-xxsl-3{flex-basis:25%;max-width:25%}.col-xxsl-4{flex-basis:33.3333333333%;max-width:33.3333333333%}.col-xxsl-5{flex-basis:41.6666666667%;max-width:41.6666666667%}.col-xxsl-6{flex-basis:50%;max-width:50%}.col-xxsl-7{flex-basis:58.3333333333%;max-width:58.3333333333%}.col-xxsl-8{flex-basis:66.6666666667%;max-width:66.6666666667%}.col-xxsl-9{flex-basis:75%;max-width:75%}.col-xxsl-10{flex-basis:83.3333333333%;max-width:83.3333333333%}.col-xxsl-11{flex-basis:91.6666666667%;max-width:91.6666666667%}.col-xxsl-12{flex-basis:100%;max-width:100%}}@media (min-width:667px){.col-xsl{flex-basis:0;flex-grow:1;max-width:100%}.col-xsl-1{flex-basis:8.3333333333%;max-width:8.3333333333%}.col-xsl-2{flex-basis:16.6666666667%;max-width:16.6666666667%}.col-xsl-3{flex-basis:25%;max-width:25%}.col-xsl-4{flex-basis:33.3333333333%;max-width:33.3333333333%}.col-xsl-5{flex-basis:41.6666666667%;max-width:41.6666666667%}.col-xsl-6{flex-basis:50%;max-width:50%}.col-xsl-7{flex-basis:58.3333333333%;max-width:58.3333333333%}.col-xsl-8{flex-basis:66.6666666667%;max-width:66.6666666667%}.col-xsl-9{flex-basis:75%;max-width:75%}.col-xsl-10{flex-basis:83.3333333333%;max-width:83.3333333333%}.col-xsl-11{flex-basis:91.6666666667%;max-width:91.6666666667%}.col-xsl-12{flex-basis:100%;max-width:100%}}@media (min-width:768px){.col-sm{flex-basis:0;flex-grow:1;max-width:100%}.col-sm-1{flex-basis:8.3333333333%;max-width:8.3333333333%}.col-sm-2{flex-basis:16.6666666667%;max-width:16.6666666667%}.col-sm-3{flex-basis:25%;max-width:25%}.col-sm-4{flex-basis:33.3333333333%;max-width:33.3333333333%}.col-sm-5{flex-basis:41.6666666667%;max-width:41.6666666667%}.col-sm-6{flex-basis:50%;max-width:50%}.col-sm-7{flex-basis:58.3333333333%;max-width:58.3333333333%}.col-sm-8{flex-basis:66.6666666667%;max-width:66.6666666667%}.col-sm-9{flex-basis:75%;max-width:75%}.col-sm-10{flex-basis:83.3333333333%;max-width:83.3333333333%}.col-sm-11{flex-basis:91.6666666667%;max-width:91.6666666667%}.col-sm-12{flex-basis:100%;max-width:100%}}@media (min-width:1024px){.col-md{flex-basis:0;flex-grow:1;max-width:100%}.col-md-1{flex-basis:8.3333333333%;max-width:8.3333333333%}.col-md-2{flex-basis:16.6666666667%;max-width:16.6666666667%}.col-md-3{flex-basis:25%;max-width:25%}.col-md-4{flex-basis:33.3333333333%;max-width:33.3333333333%}.col-md-5{flex-basis:41.6666666667%;max-width:41.6666666667%}.col-md-6{flex-basis:50%;max-width:50%}.col-md-7{flex-basis:58.3333333333%;max-width:58.3333333333%}.col-md-8{flex-basis:66.6666666667%;max-width:66.6666666667%}.col-md-9{flex-basis:75%;max-width:75%}.col-md-10{flex-basis:83.3333333333%;max-width:83.3333333333%}.col-md-11{flex-basis:91.6666666667%;max-width:91.6666666667%}.col-md-12{flex-basis:100%;max-width:100%}}@media (min-width:1200px){.col-lg{flex-basis:0;flex-grow:1;max-width:100%}.col-lg-1{flex-basis:8.3333333333%;max-width:8.3333333333%}.col-lg-2{flex-basis:16.6666666667%;max-width:16.6666666667%}.col-lg-3{flex-basis:25%;max-width:25%}.col-lg-4{flex-basis:33.3333333333%;max-width:33.3333333333%}.col-lg-5{flex-basis:41.6666666667%;max-width:41.6666666667%}.col-lg-6{flex-basis:50%;max-width:50%}.col-lg-7{flex-basis:58.3333333333%;max-width:58.3333333333%}.col-lg-8{flex-basis:66.6666666667%;max-width:66.6666666667%}.col-lg-9{flex-basis:75%;max-width:75%}.col-lg-10{flex-basis:83.3333333333%;max-width:83.3333333333%}.col-lg-11{flex-basis:91.6666666667%;max-width:91.6666666667%}.col-lg-12{flex-basis:100%;max-width:100%}}@media (min-width:1440px){.col-xl{flex-basis:0;flex-grow:1;max-width:100%}.col-xl-1{flex-basis:8.3333333333%;max-width:8.3333333333%}.col-xl-2{flex-basis:16.6666666667%;max-width:16.6666666667%}.col-xl-3{flex-basis:25%;max-width:25%}.col-xl-4{flex-basis:33.3333333333%;max-width:33.3333333333%}.col-xl-5{flex-basis:41.6666666667%;max-width:41.6666666667%}.col-xl-6{flex-basis:50%;max-width:50%}.col-xl-7{flex-basis:58.3333333333%;max-width:58.3333333333%}.col-xl-8{flex-basis:66.6666666667%;max-width:66.6666666667%}.col-xl-9{flex-basis:75%;max-width:75%}.col-xl-10{flex-basis:83.3333333333%;max-width:83.3333333333%}.col-xl-11{flex-basis:91.6666666667%;max-width:91.6666666667%}.col-xl-12{flex-basis:100%;max-width:100%}}.col-fit-content{flex-basis:0;flex-grow:0;max-width:100%}


/*============================STYLE RESET============================*/

*, *::before, *::after{
    box-sizing: border-box; 
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

*{
    margin: 0; 
    padding: 0;
    font-family: "Mada", sans-serif;
    font-weight: 400;
}


html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth;
    background-color: #EEF2F6;
}
h6 {
  font-weight: 500;
  font-size: 16px;
}

h3 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: lightgray;
}

/*============================STYLE RESET============================*/





















/*=============================ICON STYLING=============================*/

/*==================Sidebar icons==================*/
.feather-home-icon {
  font-size: 14px;
  padding: 4px 7px;
  width: 30px;
  height: 30px;
  
}
.feather-home-icon-wrapper {
width: 69px;
    text-align: center;
    border-left: 3px solid dodgerblue;
    position: relative;
    left: -14px;
    background-color: #1d2431;
    margin-top: 39px;
    height: 44px;
    padding-top: 8px;
}

.feather-chevron-right {
  font-size: 14px;
  padding: 4px 7px;
  width: 30px;
  height: 30px;
  margin-left: 80px;
}

.close-icon {
  transition: 1s;
}
/*==================Sidebar icons==================*/

/*=============================ICON STYLING=============================*/

.eye-icon, .music-icon, .file-text-icon, .mail-icon, .share-2-icon, .wifi-icon, .return-text-icon, .shopping-cart-icon{
  height: 28px;
  width: 28px;
  text-align: center;
} 
.eye-icon {
  color: #4caf50;
}

.music-icon {
  color: #f44336;
}

.file-text-icon {
  color: #2196f3;
}

.mail-icon {
  color: #FF9800;
}

.share-2-icon, .wifi-icon, .return-text-icon, .shopping-cart-icon {
  color: #7759de;
}

.card-icon {
  text-align: center;
}

.trending-down-icon {
  color: #f44336;
}

.trending-up-icon{
  color: #2196f3;
}


.usa-percentage-arrow-icon, .india-percentage-arrow-icon, .china-percentage-arrow-icon, .brazil-percentage-arrow-icon, .other-percentage-arrow-icon {
  width: 14px;
  margin-bottom: 4px;
}

.usa-percentage > .usa-percentage-arrow-icon {
  color: dodgerblue;
}

.india-percentage > .india-percentage-arrow-icon {
  color: #F44336;
}

.china-percentage > .china-percentage-arrow-icon {
  color: #4CAF50;
}

.brazil-percentage > .brazil-percentage-arrow-icon {
  color: #FF9800;
}

.other-item-percentage > .other-percentage-arrow-icon {
  color: #7759DE;
}



/*=============================ICON STYLING=============================*/


























/*=============================Sidepanel=============================*/

ul ul {
  display: none;
}

ul {
  list-style-type: none;
}

.list {
  border-left: 3px solid #2196F3;
  margin-top: 0px;
}
.submenu li:before {
  content: "●";
  color: transparent;
}
.submenu li:hover:before {
  color: dodgerblue;
}

ul li:hover a {
  color: dodgerblue;
}

ul li > a{ 
  
  padding-left: 10px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  font-size: 14px;
  color: lightgray;
  text-decoration: none;
  text-align: right;
}


.submenu {
  padding-top: 25px;
}

.submenu li {
  padding-left: 30px;
}
.sidepanel {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #242e3e; 
    overflow-x: hidden; 
    padding-top: 0px;
    display: none;
  }

  .sidepanel:hover {
    width: 250px;
  }

  .sidepanel > .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  

  .list a:hover {
    color: dodgerblue;
  }
  

  .sidepanel .closebtn {
    position: relative;
    left: -20px;
  }
  

  .opennav {
    font-size: 20px;
    cursor: pointer;
    background-color: #242e3e;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 70px;
    height: 100%;
    position: fixed;
    z-index: 9999 !important;
  }
  
  .opennav:hover {
    background-color: #242e3e;
    display: block; 
    width: 70px;
  }


  

  .dashboard-li {
    color: white;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 10px;
    opacity: 1;
  }
  
  .dashboard-li-active {
    background-color: #1D2431;
  }

/*=============================Sidepanel=============================*/












/*=================PRELOADER================ */


  .loader-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 1000;
  }


  .loader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    z-index: 999;
    height:100%;
    width:100%;
  }
  .loader .bar {
    width: 10px;
    height: 5px;
    background: #000000;
    margin: 2px;
    animation: bar 1s infinite linear;
  }
  .loader .bar:nth-child(1) {
    animation-delay: 0s;
  }
  .loader .bar:nth-child(2) {
    animation-delay: 0.25s;
  }
  .loader .bar:nth-child(3) {
    animation-delay: 0.5s;
  }
  
  @keyframes bar {
    0% {
      transform: scaleY(1) scaleX(0.5);
    }
    50% {
      transform: scaleY(10) scaleX(1);
    }
    100% {
      transform: scaleY(1) scaleX(0.5);
    }
  }


/*=================PRELOADER================ */




/*================================MAIN CONTENT================================*/

.main-content {
  width: calc(100% - 70px);
  height: 100%;
  margin-left: 70px;
}

.main-content-sidebar-open {
  width: calc(100% - 250px);
  margin-left: 250px;
}

.main-content-sidebar-closed {
  width: calc(100% - 70px);
  margin-left: 70px;
}



/*================================Card================================*/
.card {
  padding-bottom: 16px;
}
.card-body {
  background-color: #fff;
  padding-left: 16px;
  padding-top: 28px;
  padding-right: 28px;
  padding-bottom: 28px;
}



.account-chart-card-body, .type-chart-card-body, .map-chart-card-body{
  background-color: #fff;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.type-chart-card-body, .map-chart-card-body {
  margin-top: initial;
  border: 1px solid lightgray;
  margin-right: 16px;
}

.map-chart-card-body {
  margin-top: initial;
  border: 1px solid lightgray;
  margin-right: initial;
}

.type-chart-card, .map-chart-card {
  margin-top: 16px;
}






.card > .row:nth-child(1) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.card > .row:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


.row > .card-body:nth-child(1) {
  border-right: 1px solid #ccc;
}

/*================================Card================================*/






/*===============================CHARTS===============================*/
.average1-chart-wrapper, .average2-chart-wrapper, .time-user-chart-wrapper{
  position: relative;
}

#am-map-chart > div > svg > g > g:nth-child(2) > g:nth-child(1) > g:nth-child(2) > g:nth-child(1) > g:nth-child(2) > g:nth-child(2) {
  transform: translate(0px,0px);
}

#am-map-chart > div > svg > g > g:nth-child(2) > g:nth-child(1) > g:nth-child(2) > g:nth-child(1) > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(4) > g:nth-child(2) {
  transform: translate(7px, 8px);
}

#am-map-chart > div > svg > g > g:nth-child(2) > g:nth-child(1) > g:nth-child(2) > g:nth-child(1) > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(4) > g:nth-child(1) > path {
  d: path("M3,0 L27,0 a3,3 0 0 1 3,3 L30,30 a3,3 0 0 1 -3,3 L3,33 a3,3 0 0 1 -3,-3 L0,3 a3,3 0 0 1 3,-3 Z")
}


#am-map-chart > div > svg > g > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(3) {
  transform: translate(0px, 125px);
}




.average1-chart-wrapper {
  margin-right: 16px;
}

.average2-chart-wrapper {
  margin-right: 0px;
}

.time-user-chart-wrapper {
  border: 1px solid lightgray;
  margin-top: 16px;
  background-color: #fff;
  padding: 1px;
}


.average1-chart-number, .average1-chart-solve, .average1-chart-title, .average2-chart-number, .average2-chart-solve{
  position: absolute;
  color: white;
}

.time-user-chart-title {
  position: absolute;
  font-weight: 500;
}

.average1-chart-number, .average2-chart-number{
  bottom: 50px;
  left: 16px;
  font-size: 24px;
  font-weight: 700;
}

.average1-chart-solve {
  bottom: 16px;
  left: 16px;
}


.average2-chart-solve {
  bottom: 16px;
  left: 16px;
}


.average1-chart-title {
  top: 16px;
  left: 16px;
}

.type-chart-title > h5{
  color: #111;
  font-weight: 500;
}

.type-chart-title {
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 16px;
  background: white;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.map-chart-title {
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: initial;
  background: white;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.average2-chart-wrapper {
  position: relative;

}
.average2-chart-wrapper > .average2-chart-title {
  position: absolute;
  top: 16px;
  color: white;
  left: 16px;
}


.account-chart-title {
  color: #2196F4;
  margin-bottom:16px;
}
.account-chart-annual-profit-wrapper {
  padding-left: 32px;
}
.account-chart-marketing-growth-wrapper > span,  .account-chart-annual-profit-wrapper > span{
  color: #686c71;
}

.desktop-computers-item::before, .smartphones-item::before, .tablets-item::before {
  content: "●";
}

.india-item, .india-amount, .india-percentage, .usa-item, .usa-amount, .usa-percentage, .china-item, .china-amount, .china-percentage, .brazil-item, .brazil-amount, .brazil-percentage, .other-item, .other-item-amount, .other-item-percentage {
  text-align: center;
}
.india-item::before {
  content: "●";
  color: #F44336;
}
.usa-item::before {
  content: "●";
  color: dodgerblue;
}
.china-item::before {
  content: "●";
  color: #4CAF50;
}
.brazil-item::before {
  content: "●";
  color: #FF9800;
}
.other-item::before {
  content: "●";
  color: #7759DE;
}

.desktop-computers-item::before {
  color: #67B7DC;
}

.smartphones-item::before {
  color: #8067DC;
}

.tablets-item::before {
  color: #DC67CE;
}

.desktop-computers-percentage, .smartphones-percentage, .tablets-percentage{
  float: right;
  margin-right: 16px;
}


.account-chart > div > svg > g > g:nth-child(1){
  fill-opacity: 1;
}

.usa-percentage > span{
  color: dodgerblue;
}

.india-percentage > span {
  color: #F44336;
}

.china-percentage > span {
  color: #4CAF50;
}

.brazil-percentage > span {
  color: #FF9800;
}

.other-item-percentage > span {
  color: #7759DE;
}

/*===============================CHARTS===============================*/


/*===============================Animations===========================*/

.fadeIn-3 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 3000ms;
  }
.fadeIn-35 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 3500ms;
  }
.fadeIn-4 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 4000ms;
  }
.fadeIn-45 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 4500ms;
  }

.fadeIn-5 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 5000ms;
}

.fadeIn-55 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 5500ms;
  }
.fadeIn-6 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 6000ms;
  }
.fadeIn-65 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 6500ms;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 




/*===============================Animations===========================*/





































/*=========================Media Queries=========================*/
@media only screen and (min-width: 1200px) {
  .card {
    padding-right: 16px;
  }

  .account-chart-card {
    border: 1px solid lightgray;
    padding-right: initial;
    padding: 1px;
  }

  .type-chart-title {
    margin-right: initial;
  }
  
  .type-chart-card-body {
    margin-top: initial;
    margin-right: initial;
  }

  .map-chart-card {
    margin-top: initial;
  }

  .type-chart-card {
    margin-top: initial;
  }

}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .account-chart-card {
    border: 1px solid lightgray;
    padding-right: initial;
    padding: 1px;
  }
  .card {
    padding-right: 16px;
    padding-bottom: initial;
  }

  .card-2 {
    margin-bottom: 16px;
  }

  .map-chart-card {
    margin-top: 16px;
  }


  .type-chart-card {
    margin-top: 16px;
  }

  .type-chart-title, .type-chart-card-body {
    margin-right: initial;
  }

}


@media only screen and (min-width: 993px) and (max-width: 1023.20px) {
  .card {
    padding-right: initial;
  }

  .account-chart-card {
    border: 1px solid lightgray;
    padding-right: initial;
    padding: 1px;
  }

  .type-chart-card-body {
    margin-top: initial;
  }
  .map-chart-card {
    margin-top: initial;
  }

  .card-2 {
    margin-left: 16px;
  }
  
  .type-chart-card {
    margin-top: initial;
  }

  .type-chart-title, .type-chart-card-body{
    margin-right: initial;
  }

}

@media only screen and (max-width: 768px) {
  .average1-chart-wrapper, .average2-chart-wrapper{
    margin-right: 0px;
    margin-bottom: 16px;
  }
  .account-chart-card {
    border: 1px solid lightgray;
    padding-right: 0px;
    padding: 1px;
  }
  .time-user-chart-wrapper, .type-chart-card-body{
    margin-top: 0px;
  }
  
  .type-chart-card{
    margin-top: initial;
  }

  .map-chart-card {
    margin-top: initial;
  }

  .type-chart-title, .type-chart-card-body{
    margin-right: initial;
  }


  
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .card {
    padding-right: initial;
  }
  .card-1 {
    margin-right:16px;
  }
  .account-chart-card {
    border: 1px solid lightgray;
    padding: 1px;
  }

  .type-chart-card-body {
    margin-top: initial;
  }

  .type-chart-card {
    margin-top: initial;
  }
  .map-chart-card {
    margin-top: initial;
  }

  .type-chart-title, .type-chart-card-body{
    margin-right: initial;
  }

}

@media only screen and (max-width:568px) {
  .account-chart-annual-profit-wrapper {
    padding-left: initial;
  }
}

@media only screen and (max-width:375px) {
  .row > .card-body:nth-child(1) {
    border-right: 0px;
  }
}
/*=========================Media Queries=========================*/


/*================================MAIN CONTENT================================*/
